# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/_material
/.idea
__pycache__/

# dependencies
/node_modules
/.pnp
.pnp.js
package-lock.json
.vscode/

/_material/
/unidade-01-linguagem-python/
/unidade-02-framework-flask-app-todo/venv/
/unidade-03-framework-django-app-blog/venv/
/unidade-03-framework-django-app-menuhub/venv/
/unidade-03-framework-django-app-menuhub/_material/
/unidade-03-framework-django-app-blog/
