{% extends "application.html" %}

{% block content %}
<form action="" method="post">
    <h1>Remove Item {{ menu_item.id }} do Menu </h1>
    {% csrf_token %}
    <fieldset>
        <label for="category">Category:</label>
        <input type="text" name="category" value="{{ menu_item.category }}"></input>
        <label for="name">Name:</label>
        <input type="text" name="name" value="{{ menu_item.name }}"></input>
        <label for="description">Description:</label>
        <input type="text" name="description" value="{{ menu_item.description }}"></input>
        <label for="price">Price:</label>
        <input type="text" name="price" value="{{ menu_item.price }}"></input>
        <input type="submit" value="Confirmar" /> | <a href="/menus/{{ menu_item.restaurant_id }}">Cancelar</a>
    </fieldset>
</form>
{% endblock content %}