{% extends "application.html" %}

{% block content %}
    <h1>Itens do Menu</h1>
    <a href="{{ restaurant_id }}/new/">Incluir</a>
    {% if menu_itens %}
        {% for menu_item in menu_itens %}
            <p>{{ menu_item.restaurant.name }}</p>
            <p><strong>{{ menu_item.category }}</strong></p>
            <p>{{ menu_item.name }}</p> 
            <p>{{ menu_item.description }}  {{ menu_item.price }}</p>
            <p>
            <a href='{{ menu_item.restaurant_id }}/edit/{{ menu_item.id }}'>Edit |</a>
            <a href='{{ menu_item.restaurant_id }}/delete/{{ menu_item.id }}'>Delete</a>
            </p>
        {% endfor %}
    {% else %}
        <p>Nenhum item no menu, por favor inclua um.</p>
    {% endif %}
{% endblock content %}